<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <form method="post" name="regForm">
        <label>Username:<input type="text" required name="usname"> </label>
        <label>Name:<input type="text" required name="name"> </label>
        <label>Age:<input type="text" required name="age"> </label>
        <label>Role:<input type="text" required name="role"> </label>
        <label>Password:<input type="text" required name="passw" autocomplete="off"> </label>
        <label>Confirm Password:<input type="text" name="cpassw" autocomplete="off"> </label>
        <button type="reset" name="fres">Reset</button>
        <button type="submit" name="fsub">Submit</button>
    </form>
</body>
</html>