*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body{
          justify-content: center;
          background-color: moccasin;
          display: block;
          min-height: 1000px;
          width: 1000px;
          margin: auto;
          text-align: -webkit-center;  
        }
    
    .chat-container{
          width: 100%;
          max-width: 385px;
          border-radius: 5px;
          overflow: hidden;
          border: 4px solid magenta;
          background-color:slategray ;
          
    }
    
    .chat-container ::-webkit-scrollbar{
        display: none;
    }
    
    .chat-header{
        min-height: 70px;
        overflow: hidden;
        display: flex;
        background-color: blanchedalmond;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #000;
    }
    
    .chat-header h2{
        margin-left: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .chat-header h3{
        margin-right: 5px;
        opacity: 0.7;
    }
    
    .chat-section{
        padding: 10px;
        }
    
    .main-wrapper{
        width: 100%;
        height: 450px;
    }    
    
    .chat-content{
        width: 100%;
        height: 408px;
        background-color: aliceblue;
        overflow-y:auto;
        border-radius: 14px;
        scroll-behavior: auto;
    }
    
    :disabled{cursor:not-allowed}
    
    .chat-container .message{
        width: 100%;
        min-height: 398px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .message-row{
        display: grid;  
        margin-bottom: 10px;
        }
    
    .your-message{
        justify-content: end;
        justify-items: end;
        text-align: center;
        align-self: flex-end;
        max-width: 220px;
    }    
    
    .other-message{
        justify-content: start;
        justify-items:start;
        max-width: 220px;
    }
    
    .message-text{
        height:fit-content;
        padding: 9px 14px;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        }
    
    .message-time{
        font-size: 13px;
        color: red;
        }    
    
    .your-message .message-text{
        border: 1px solid orange;
        background-color: floralwhite;
        border-radius: 14px 0 14px 14px;
    }    
    .other-message .message-text{
        border: 1px solid rgb(224, 207, 175);
        background-color: rgb(216, 210, 211);
        border-radius: 0 14px 14px 14px;
    }    
    
    .message-title span{
        text-transform: capitalize;
    }
    
    .msg-text{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    .msg-text input, .msg-text button{
        flex: 4;
        padding:0 10px;
        height: 40px;
    }
    .msg-text button{
        flex: 0;
        
    }
    